#map { height: 550px}
/* 
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
} */

.gradient-background {
    background: linear-gradient(to top, #3498db, #ffffff);
    height: 100%;
}

.shadowed-box {
    /* width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ddd; */
    /* Add a shadow */
    box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.2);
}

.info-box {
    background: linear-gradient(to top, #8dd1ff, #ffffff); /* Gradient background */
    border-radius: 10px; /* Rounded corners */
    padding: 15px; /* Spacing inside the rectangle */
    width: 900px; /* Width of the rectangle */
    margin: 0 auto; /* Center the rectangle horizontally */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); /* Optional shadow */
}

.info-box-map {
    background: linear-gradient(to top, #8dd1ff, #ffffff); /* Gradient background */
    border-radius: 10px; /* Rounded corners */
    padding: 0px; /* Spacing inside the rectangle */
    width: 1300px; /* Width of the rectangle */
    margin: 0 auto; /* Center the rectangle horizontally */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); /* Optional shadow */
}


#canvas-image {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#genderChart {
    width: 300px;  /* Set the width to your preferred size */
    height: 300px; /* Set the height to your preferred size */
}
  